body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0b0311;
}

h1, h2 ,h3,h4{
    text-align: center;
}

#home {
    background: #3c0484;
    color: #dbd8e0;
    padding: 20px 0;
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#about, #skills, #portfolio, #contact {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background: #fff;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
